<nav class="bg-gray-700 w-full p-2 md:p-4 text-white touch-none">

    <div class="md:flex md:justify-between">
        <a class="hidden md:inline" class=href="/">
            {%block navTitle%}
                {{ publicInfo.person.lastname | capitalize }}
                {{ publicInfo.person.firstname | capitalize}}
                {%endblock%}
            </a>
           <div class="flex justify-evenly md:justify-end gap-8">
            <a class="font-medium visible md:hidden hover:underline underline-offset-4 decoration-pink-500" href="#">Home</a>
            <a class="font-medium hover:underline underline-offset-4 decoration-pink-500" href="#">Blog</a>
            <a class="font-medium hover:underline underline-offset-4 decoration-pink-500" href="#">Gallery</a>
            <a class="font-medium hover:underline underline-offset-4 decoration-pink-500" href="#">Sparql</a>
            <a class="font-medium hover:underline underline-offset-4 decoration-pink-500" href="#">Contact</a>
           </div>
        </div>
    </nav>