  <nav class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar d-lg-block d-none ">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4 d-lg-inline-block d-none">Hello</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          Blog
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          Gallery
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          Contact
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          Sparql
        </a>
      </li>
    </ul>
    <hr>
      <a href="https://github.com/openartcoded" class="d-flex align-items-center text-white text-decoration-none">
        <img src="/logo_transparent.png" alt="Logo artcoded" width="32" height="32" class="rounded-circle me-2">
        <strong>Github</strong>
      </a>
  </nav>
 
  <div class="b-example-divider d-lg-block d-none"></div>



