{%macro acceptOption(value, name )%}
<option autocomplete="off" {{'selected' if defaultAcceptType===value else '' }} value="{{value}}">{{name}}</option>

{%endmacro%}
{% extends "base.html" %}

{% block title%}Sparql{% endblock %}

{%block content%}
<div class="grid gap-2 p-2  lg:flex lg:justify-center">
    <div class="lg:w-5/12 bg-slate-700 rounded h-fit  ">
        <div class="bg-transparent text-white  p-2 m-2 ">
            <span class="font-semibold">Sparql endpoint</span>
        </div>
        <div class="border-slate-700 text-white m-2 rounded p-2">
            <form method="post" action="sparql-form">
                <div class="grid grid-cols-1">
                    <label for="acceptType" class="mb-1">Accept (Construct/Describe)</label>
                    <select class="rounded w-full bg-transparent" required id="acceptType" name="acceptType">
                        {{acceptOption("text/turtle", "Turtle")}}
                        {{acceptOption("application/rdf+json", "RDF/JSON")}}
                        {{acceptOption("application/rdf+xml", "RDF/XML")}}
                        {{acceptOption("application/trig", "TriG")}}
                        {{acceptOption("application/n-triples", "N-Triples")}}
                        {{acceptOption("application/n-quads", "N-Quads")}}
                    </select>
                </div>
                <div class="grid grid-cols-1">
                    <label for="sparqlQuery" class="mt-1 ">Query</label>
                    <textarea rows="16" class="rounded w-full bg-transparent mt-1" type="text" required id="sparqlQuery"
                        name="sparqlQuery">{{defaultQuery}}</textarea>
                </div>

                <div class="flex justify-end mt-2 ">
                    <input type="submit" value="Submit" class="bg-blue-800 text-white rounded p-2  hover:bg-orange-500 hover:text-black">

                </div>
            </form>
        </div>
    </div>
    {%if result %}

    <div class="grid  bg-transparent text-white rounded border-2 border-slate-700 flg:flex lg:justify-center mb-2 lg:mt-1">
            <div class="prose max-w-[50rem] max-h-[38rem] overflow-auto">
                <pre>
                    <code>
                        {{result.data if result.data else result | json(2)}}
                    </code>
                </pre>
            </div>
    </div>



{%endif %}
</div>



{%endblock%}
