<header>
    <div class="main">
        <a href="{{ absLangURL "/" }}">{{ .Site.Title }}</a>
    </div>
    <nav>
        {{ range .Site.Menus.main }}

        {{ if .HasChildren }}
        <div class="dropdown">
            <button class="dropbtn">{{ .Name }}</button>
            <div class="dropdown-content">
                {{ range .Children }}
                <a href="{{ .URL }}">{{ .Name }}</a>
                {{end}}
            </div>
        </div>


        {{else}}
        <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end}}
        {{ end }}
        
    </nav>
</header>
